a {
  left: 16px;
  padding: 15px;
  display: block;
  line-height: normal;
  border-bottom: 1px solid #fff;
  cursor: pointer;
  text-decoration-line: none !important;
  color: #333 !important;
}

.topSection {
  width: 100%;
  margin: 30px 10px;
}

a.active,
a:hover {
  background: #3bb3a9;
  color: #fff !important;
  border-radius: 5px;
}
