.App {
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 100vh;
  background: #f5f5f5;
  overflow: hidden;
}

.leftconatiner {
  width: 20%;
  background: #ffffff;
  border: 1px solid #ffffff;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
  border-radius: 20px;
  height: 100vh;
  display: flex;
}

.rightContainer {
  width: 80%;
}
